<div class="container-fluid text-center" style="height: calc(100vh - 50px); overflow-y: auto;">
<h1 class="mt-3">
  <i class="fa-fonticons-fi fw-bolder text-bg-info"> Welcome {{userName}}</i>
</h1>
  <h2>Below you will find your current warranties.</h2>

  <div class="row">
  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{allUserGuarantees.content}}</h5>
      <p class="card-text">Warranty details</p>
      <a href="#" class="btn btn-primary">Go to producer website.</a>
    </div>
  </div>
</div>
</div>
