<div class="home-container">
  <div class="content">
    <h1 class="title">Welcome to Guarantee Manager!</h1>
    <p class="description">Your reliable partner in warranty management.</p>

    <div class="features">
      <div class="feature-card">
        <h3 class="card-title">Warranties Management</h3>
        <p class="card-description">Manage your warranties in an easy way and have full control over your purchases.</p>
      </div>
      <div class="feature-card">
        <h3 class="card-title">Notifications</h3>
        <p class="card-description">Receive notifications about upcoming warranty expirations.</p>
      </div>
      <div class="feature-card">
        <h3 class="card-title">Best devices</h3>
        <p class="card-description">At any time, have insight into your warranty statistics. The automatic ranking will help you check which devices are the least prone to failure and plan your next purchase.</p>
      </div>
      <div class="feature-card">
        <h3 class="card-title">All Your Warranties, One Place</h3>
        <p class="card-description">Forget about lost receipts, deleted emails, and the problems related to warranty claims. Keep everything in one place and enjoy using your devices.</p>
      </div>
    </div>

    <a class="cta-button" href="#">Let's get started!</a>
  </div>
</div>
