<div class="container-fluid gradient-bg">
  <div class="container home-container">
    <header>
      <h1>Welcome to Guarantee Manager!</h1>
      <p>Your reliable partner in warranty management.</p>
    </header>
    <section class="features">
      <article class="feature">
        <h5>Warranties Management</h5>
        <p>Manage your warranties easily and have full control over your purchases.</p>
      </article>
      <article class="feature">
        <h5>Notifications</h5>
        <p>Receive notifications about upcoming warranty expirations.</p>
      </article>
      <article class="feature">
        <h5>Best Devices</h5>
        <p>Check which devices are least prone to failure and plan your next purchase.</p>
      </article>
      <article class="feature">
        <h5>All Your Warranties, One Place</h5>
        <p>Forget about lost receipts. Keep everything in one place and enjoy your devices.</p>
      </article>
    </section>

    <section class="how-it-works mt-4">
      <h3>How It Works</h3>
      <div class="row">
        <div class="col-md-4">
          <h5>Step 1: Add Your Product</h5>
          <p>Quickly add your purchased products with a few simple details. All you need is the recipe photo and purchase information.</p>
        </div>
        <div class="col-md-4">
          <h5>Step 2: Set Up Notifications</h5>
          <p>Get notified when your warranty is about to expire, so you can act in time to extend or use your warranty services.</p>
        </div>
        <div class="col-md-4">
          <h5>Step 3: Manage Everything in One Place</h5>
          <p>All your warranties in one central location, with easy access and management, whenever you need it.</p>
        </div>
      </div>
    </section>

    <a class="btn btn-primary btn-lg mt-2 mb-4" (click)="goToLoginPage()">Let's get started!</a>
  </div>
</div>
