<div class="modal fade show d-block" tabindex="-1" (click)="onClose()">
  <div class="modal-dialog modal-dialog-centered modal-sm" (click)="$event.stopPropagation()">
    <div class="modal-content border-0 shadow-lg">

      <div class="modal-header bg-warning text-dark text-center flex-column">
        <h5 class="modal-title w-100 fw-bold">Reset Password</h5>
        <p class="mb-0">A new password will be sent to your email.</p>
        <p class="small fst-italic">We strongly recommend changing it after login.</p>
        <button type="button" class="btn-close position-absolute top-0 end-0 m-2" aria-label="Close" (click)="onClose()"></button>
      </div>

      <div class="modal-body bg-light text-center">
        <p class="mb-2 fw-semibold">Enter your email address:</p>
        <input type="email" class="form-control text-center" placeholder="your@email.com" [(ngModel)]="resetPasswordRequest.email">
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer bg-light justify-content-between">
        <button class="btn btn-outline-dark" (click)="onClose()">Cancel</button>
        <button class="btn btn-warning text-dark fw-semibold" [disabled]="isSubmitting" (click)="resetPassword()">Reset Password</button>
      </div>

    </div>
  </div>
</div>
