<div class="modal fade show d-block" tabindex="-1" (click)="onClose()">
  <div class="modal-dialog modal-dialog-centered modal-sm" (click)="$event.stopPropagation()">
    <div class="modal-content">

      <div class="modal-header text-bg-primary bg-gradient">
        <h5 class="modal-title">Change Password</h5>
        <button type="button" class="btn-close" (click)="onClose()"></button>
      </div>

      <div class="modal-body text-bg-primary bg-gradient">
        <form (ngSubmit)="changePassword()">
          <div class="mb-3">
            <label class="form-label">Old password</label>
            <input [(ngModel)]="changePasswordRequest.oldPassword" name="oldPassword" type="password" class="form-control" placeholder="Type old password" required>
          </div>

          <div class="mb-3">
            <label class="form-label">New password</label>
            <input [(ngModel)]="changePasswordRequest.newPassword" name="newPassword" type="password" class="form-control" placeholder="Type new password" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Confirm password</label>
            <input [(ngModel)]="changePasswordRequest.confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="Confirm the password" required>
          </div>

          <div class="modal-footer text-bg-primary bg-gradient">
            <button type="button" class="btn btn-secondary" (click)="onClose()">Cancel</button>
            <button type="submit" class="btn btn-success">Change Password</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
