<div class="card m-2 shadow-sm" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ guarantee.brand }} - {{ guarantee.model }}</h5>
    <p class="card-text"><strong>Type of device:</strong> {{ guarantee.kindOfDevice }}</p>
    <p class="card-text"><strong>Status:</strong>
      <span [ngClass]="{
        'text-success': guarantee.guaranteeStatus === 'ACTIVE',
        'text-warning': guarantee.guaranteeStatus === 'PENDING',
        'text-danger': guarantee.guaranteeStatus === 'EXPIRED'
      }">
        {{ guarantee.guaranteeStatus }}
      </span>
    </p>
    <p class="card-text"><strong>From:</strong> {{ guarantee.startDate }}</p>
    <p class="card-text"><strong>To:</strong> {{ guarantee.endDate }}</p>

    <div *ngIf="guarantee.documentUrl">
      <a [href]="guarantee.documentUrl" target="_blank" class="btn btn-primary">Go to recipe</a>
    </div>
  </div>
</div>
